.hero{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background-color: black;
}


.hero::before{
    content: '';
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    background-image: url('https://images.unsplash.com/photo-1592593263277-1ee92bf2334b?ixid=MXwxMjA3fDB8MHxzZWFyY2h8ODN8fHNob3B8ZW58MHwwfDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60');
    background-size: cover;
    background-position: center;
    opacity: 0.25;
}


.hero__info{
    text-align: center;
    
}

